<p style="color: green"><%= notice %></p>

<h1>Username:</h1>
<p><%= @user.username %></p>
<% if @user.ratings.empty? %>
  <p>User has not made any ratings yet!</p>
<% else %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, 
    average rating <%= @user.average_rating.round(1) %>
  </p>
  <% if @user.favorite_style %>
    <p><strong>Favorite style:</strong> <%= @user.favorite_style %></p>
  <% end %>

  <% if @user.favorite_brewery %>
    <p><strong>Favorite brewery:</strong> <%= @user.favorite_brewery.name %></p>
  <% end %>
  <h4>Ratings</h4>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>
<% if @user.beer_clubs.any? %>
  <h4>Member of</h4>
  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club.name, club %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Not a member of any club</p>
<% end %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
