<h2>List of ratings</h2>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h3>Recent ratings</h3>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @ratings.each do |rating| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= render rating %>
              <% if current_user && current_user == rating.user %>
                <%= button_to 'Delete', rating, method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Statistics</h3>
      </div>
      <div class="card-body">
        <p>Total ratings: <%= @ratings.count %></p>
        
        <% if @recent_rating %>
          <p>Most recent rating: <%= @recent_rating.score %> for <%= @recent_rating.beer.name %></p>
        <% end %>
        
        <% if @top_beers && @top_beers.any? %>
          <h4>Top beers</h4>
          <ul class="list-group">
            <% @top_beers.each do |beer| %>
              <li class="list-group-item">
                <%= link_to beer.name, beer %> (<%= beer.average_rating %>)
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user %>
  <div class="mt-4">
    <%= link_to 'New Rating', new_rating_path, class:"btn btn-primary" %>
  </div>
<% end %>