<div id="<%= dom_id brewery %>">
  <h2>
    <strong><%= brewery.name %></strong>
  </h2>
  <p><em>Established at <%= brewery.year %></em></p>
  <p>Beer count: <%= brewery.beers.count %></p>
<p>
 <% brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
 <% end %>
</p>
</div>
