<h1>Breweries</h1>

<h2>Active</h2>

<p>Number of active breweries: <%= @active_breweries.count %></p>

<% cache "brewerylist-active-#{@order}", skip_digest: true do %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= link_to "Name", breweries_path(order: "name") %></th>
          <th><%= link_to "Year", breweries_path(order: "year") %></th>
          <th><%= link_to "Beers", breweries_path(order: "beer_count") %></th>
          <th><%= link_to "Rating", breweries_path(order: "rating") %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @active_breweries.each do |brewery| %>
          <tr>
            <td><%= link_to brewery.name, brewery %></td>
            <td><%= brewery.year %></td>
            <td><%= brewery.beers.count %></td>
            <td><%= round(brewery.average_rating) %></td>
            <td>
              <% if current_user %>
                <%= link_to "Edit", edit_brewery_path(brewery), class: "btn btn-primary btn-sm" %>
                <%= button_to "Destroy", brewery, method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<h2>Retired</h2>

<p>Number of retired breweries: <%= @retired_breweries.count %></p>

<% cache "brewerylist-retired-#{@order}", skip_digest: true do %>
  <div class="table-responsive">
    <table class="table table-hover">
    <thead>
      <tr>
        <th><%= link_to "Name", breweries_path(order: "name") %></th>
        <th><%= link_to "Year", breweries_path(order: "year") %></th>
        <th><%= link_to "Beers", breweries_path(order: "beer_count") %></th>
        <th><%= link_to "Rating", breweries_path(order: "rating") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
        <% @retired_breweries.each do |brewery| %>
          <tr>
            <td><%= link_to brewery.name, brewery %></td>
            <td><%= brewery.year %></td>
            <td><%= brewery.beers.count %></td>
            <td><%= round(brewery.average_rating) %></td>
            <td>
              <% if current_user %>
                <%= link_to "Edit", edit_brewery_path(brewery), class: "btn btn-primary btn-sm" %>
                <%= button_to "Destroy", brewery, method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to "New brewery", new_brewery_path, class: "btn btn-primary" if current_user %>