<p style="color: green"><%= notice %></p>

<%= render @brewery %>

<div>
  <% if @brewery.ratings.empty? %>
    <p>Brewery has no ratings!</p>
  <% else %>
    <p>Brewery has <%= pluralize(@brewery.ratings.count, 'rating') %>, with an average of <%= round(@brewery.average_rating) %></p>
  <% end %>

  <% if current_user %>

    <%= edit_and_destroy_buttons(@brewery) %>
    # <%= button_to "Destroy this brewery", @brewery, method: :delete, 
    #               data: { turbo_confirm: "Are you sure? This will also delete all beers and ratings!" } %>

  <% end %>
<%= link_to "Back to breweries", breweries_path %>
</div>